%title{
    font-family: 'Monoton', cursive;
    font-size: 2rem;
}

%nav{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

%content-1{
    font-family: 'Roboto Mono', monospace;
    font-size: 0.75rem;
    font-weight: bolder;
}

%content-2{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5rem;
}